body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.wrapper {
    width: 800px;
    margin: 50px auto;
}

h1 {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: normal;
}

p {
    color: #454141;
    font-size: 13px;
    line-height: 19px;
}

p.lead {
    font-size: 15px;
    line-height: 24px;
}

p a {
    color: #ff321b;
    text-decoration: none;
}

p a:hover,
p a:focus {
    color: #000;
    text-decoration: underline;
}

.lytro {
    display: inline-block;
    margin: 0 0 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 4px #aaa;
    border-radius: 2px;
}

.lytro .picture {
    border: 1px solid #e2e2e2;
    width: 400px;
    height: 400px;
    position: relative;
    background: url(../img/loader.gif) center center no-repeat;
}

.lytro img {
    top: 0;
    left: 0;
    position: absolute;
}

.lytro .caption {
    margin: 10px 0 0;
}